<div class="container mt-5">
  <h2>🔐 Yeni Şifre Oluştur</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

  <form (ngSubmit)="resetPassword()" #form="ngForm">
    <div class="mb-3">
      <label for="newPassword" class="form-label">Yeni Şifre :  </label>
      <input type="password" class="form-control" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>

    <div class="mb-3">
  <label for="confirmPassword" class="form-label">Yeni Şifre :  </label>
  <input
    type="password"
    class="form-control"
    id="confirmPassword"
    [(ngModel)]="confirmPassword"
    name="confirmPassword"
    placeholder="Tekrar"
    required
  />
</div>


    <button type="submit" class="btn btn-success" [disabled]="form.invalid || isLoading">
       Şifreyi Sıfırla
    </button>
  </form>
</div>
